body {
  margin: 0;
  cursor: crosshair;
  overflow: hidden;
  font-family: 'Didact Gothic', sans-serif;
}

header {
  display: flex;
  height: 100vh;
}

.side-static {
  position: relative;
  width: 300px;
  background-color: white;
}

.card {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  width: 50px;
  -webkit-transition: all 0.4s ease-in-out;
  overflow: hidden;
  color: #4b4b4b;
}

#card-projects {
  background: rgba(255, 255, 255, 0.8);
}

#card-contact {
  background: rgba(255, 255, 255, 0.7);
}

.card-large {
  width: 50vw;
  -webkit-transition: all 0.4s ease-in-out;
}

.text {
  margin: 8px;
  color: black;
  writing-mode: tb-rl;
}

.card > .text > h2 {
  margin: 0;
}

.card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  white-space: nowrap;
  justify-content: center;
  overflow: hidden;
}

.hide-card {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
}

.show-card {
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
}

.full-size-absolute {
  position: absolute;
  height : 100vh;
  width : 100%;
}

.background-wrapper > img, .background-wrapper > * > img {
  width: 100vw;
}

.blend-multiply {
  mix-blend-mode : multiply;
  top: 0;
  left: 0;
}

.blend-screen {
  mix-blend-mode: screen;
  background-color: #ffffff;
}

.circle {
  position :absolute;
  width :300px;
  height: 300px;
  border-radius: 150px;
}

.circle-follow {
  overflow : hidden;
  background-color: #000000;
  top:calc( 50% - 150px); 
  left:calc( 50% - 150px); 
  -webkit-transition: opacity 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);  
  transition: opacity 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);  
  opacity : 0; 
  box-shadow: 0 0 10px 20px #555;
}

.circle-follow.moving {
   opacity : 1;
}

#circle-white {
  background-color: #ffffffbb;
  filter: blur(20px);
}

/* hack to detect ie11 and above - blend mode not supported */
_:-ms-fullscreen, :root .letter-mask {background-color: transparent; }
_:-ms-fullscreen, :root .animated-bg {opacity: 0.2;}
_:-ms-fullscreen, :root .circle-follow {background-color:#ffffff; opacity: 0.2; }

@media only screen and (max-width: 991px) {

  header {
    height: 100px;
    flex-direction: column;
  }

  .side-static {
    flex: 1;
    width: initial;
  }

  .card {
    flex: 1;
    justify-content: center;
    width: initial;
  }

  .card-large {
    height: 80vh;
  }

  /* adjust the content for mobiles later */
  .card-content {
    display: none;
  }

  .text {
    writing-mode: horizontal-tb;
    text-align: center;
  }


.wrapper {
  display: block;
}

  /*Push visible BG image section to left*/
    /*.images {
      z-index: 0;
      position: absolute;
      margin-left: -200%;
      margin-top: -20%;
  }*/

  /* Hide Circle */
  .circle {
    display: none;
  }
}