body {
  margin: 0;
  background-color: #2d2d2d;
}

.wrapper {
  display: flex;
}

.side-static {
  width: 300px;
  height: 100vh;
  margin: 0;
  background-color: white;
}

.card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50px;
  height: 100vh;
  -webkit-transition: all 0.4s ease-in-out;
  overflow: hidden;
}

#card-projects {
  background-color: #848484;
}

#card-contact {
  background-color: #9e9e9e;
}

.card-large {
  width: 50vw;
  -webkit-transition: all 0.4s ease-in-out;
}

.text {
  margin: 8px;
  color: black;
  font-family: sans-serif;
  writing-mode: tb-rl;
}

.card > .text > h2 {
  margin: 0;
}
.card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 90%;
  white-space: nowrap;
  justify-content: center;
  overflow: hidden;
  /* -webkit-transition: all 0.6s ease-in-out; */
}

.hide-card {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
}

.show-card {
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
}
